@charset "utf-8";
@import url("./common.css");

#contents #top .t_add{width:430px; margin-left: auto; display:flex; justify-content: flex-end; flex-direction: row; align-content: center; flex-wrap: wrap;}
#contents #top .t_add .form-control{width:270px; margin-right:5px; font-size: .875rem; box-shadow:0 1px 2px 0 rgb(0 0 0/0.05); display:flex; }
#contents #top .t_add .btn-submit{font-size: .875rem; font-weight: 500; line-height: 1.25rem; display:flex; background-color: rgb(99 102 241); color:#fff; }
#contents #top .t_add .btn-submit i{font-size:16px; color: rgb(255 255 255/.5); position:relative; top:2px; margin-right:5px; }
#contents #top .t_add .btn-submit:hover{background-color: rgb(79 70 229)}

#contents .frm{flex-direction: column;}
#contents table{width:100%; display:table; table-layout: fixed;}
#contents table th{font-size:14px; padding:12px 8px; font-weight:500; background-color: rgb(248 250 252); color: rgb(100 116 139)}
#contents table td{font-size: .875rem; padding:0.75rem 0.5rem; color: rgb(30 41 59);}
#contents table td input{font-size: .875rem;color: rgb(30 41 59);}
#contents table td.no_cnt{padding:30px 0; text-align:center}
#contents table .center{text-align:center;}
#contents table td .btn{background:transparent; border:0; padding:0; }
#contents table td .btn-view{margin-right:15px; color: rgb(148 163 184)}
#contents table td .btn-view:hover{color: #64748b}
#contents table td .btn-delete{color: rgb(244 63 94)}
#contents table td .btn-delete:hover{color: rgb(225 29 72)}
#contents .btns{display:flex; margin-top:20px; margin-left: auto;}
#contents .btns .btn_02{border-color: rgb(203 213 225); color: rgb(148 163 184); background-color: rgb(255 255 255)}
#contents .btns .btn_02:first-child{margin-right:5px; }
#contents .btns .btn_02:hover{color: #6366f1}

#contents .pay-group{width:100%; display:flex; flex-direction: row; justify-content: center;}
#contents .pay-group .p-box{flex:.25; margin-left:1%; margin-bottom:auto; display:flex; flex-direction: column;}
#contents .pay-group .p-box:first-child{margin-left:0; }
#contents .pay-group .p-box h2{font-size:18px; margin:0 5px 10px 5px; font-weight:500; display:flex; flex:1; align-items: center; flex-wrap: wrap;}
#contents .pay-group .p-box h2 a{font-size:14px; display:flex; margin-left:auto; color: rgb(99 102 241)}
#contents .pay-group .p-content{flex:1; padding:1rem; border: 1px solid rgb(226 232 240); background:#fff; border-radius: 0.125rem;}
