@charset "utf-8";
@import url("./fonts.css");

/*Common*/
.animate-box{opacity:0;}
*{margin:0;padding:0}
/*Layer*/
html{overflow: scroll; overflow-x: hidden;}
body{width:100%; padding:0px!important; background-color:#fff;*word-break:break-all;-ms-word-break:break-all}
body,h1,h2,h3,h4,h5,h6,th,td,input,textarea,select,option,div,button{font-family: "NanumSquareRound"; font-weight:400;}
img,fieldset,iframe{border:0 none}
ul,ol,li{list-style:none}
em,address{font-style:normal}
img,input,select,textarea{vertical-align:middle}
a{color:#000; text-decoration:none;cursor:pointer}
a:hover{color:#000; text-decoration:none}
button,label{cursor:pointer;_cursor /**/:hand}
button *{position:relative}
textarea{overflow:auto}
*{ box-sizing: border-box; }
input::-ms-clear,input::-ms-reveal{display:none;width:0;height:0;}
input::-webkit-search-decoration,input::-webkit-search-cancel-button,
input::-webkit-search-results-button,input::-webkit-search-results-decoration{display:none;}
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0;}
#ui-datepicker-div{z-index:999 !important;}

/* 폰트스타일 시작 */

.ns{font-family: "NanumSquare"; font-weight:400;}
.nsB{font-family: "NanumSquare"; font-weight:600;}
.nsrR{font-family: "NanumSquareRound"; font-weight:400;}
.nsrB{font-family: "NanumSquareRound"; font-weight:600;}

.bold{font-weight:600;}
.medi{font-weight:500;}
.regu{font-weight:400;}
.demi{font-weight:300;}
.light{font-weight:100;}

/* 폰트스타일 끝 */
input:focus, 
textarea:focus, 
button.btn:focus{box-shadow:none; outline:none; }

:root {
    /* viewport */
    --header-height: 108px;
    --view-height: calc(var(--vh, 1vh) * 100);
    --sticky-offeset-top: var(--stickyTop);

    /* color */
    --background-gradient: linear-gradient(91deg, #1A00DF -0.74%, #00BF1D 100%);
    --primary: #1A00DF;
    --error: #C60000;
    --orange: #FFD600;
    --yellow: #fee101;
    --purple: #00BF1D;

    --black: #000;
    --black-100: #111;
    --black-200: #222;
    --black-300: #333;
    --black-400: #444;
    --black-500: #555;
    --black-600: #666;
    --black-700: #777;
    --black-800: #888;
    --black-900: #999;

    --gray-100: #FAFAFA;
    --gray-200: #EAEAEA;
    --gray-300: #DADADA;

    /* placeholder*/
    --placeholder-color: #999;
    --disabled-color: #666;
    --disabled-bg: #EAEAEA;
    --disabled-bd: #EAEAEA;


    /*border*/
    --border-color: #EAEAEA;
    --border-solid: 1px solid var(--border-color);
    --border-focus: 1px solid transparent;
    --border-radius: 4px;
    --border-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.08);
    --border-shadow2: 0px 5px 10px 0px rgba(0, 0, 0, 0.04);
    --border-shadow2-top: 0px -5px 10px 0px rgba(0, 0, 0, 0.04);

    /* transition */
    --transition-duration-300: 300ms;
    --transition-duration-500: 500ms;

    /*logo Color*/
    --logo-orange:#ff8c00;
    --logo-red:#ef0e0e;
}

* {
    font-size: 16px;
    letter-spacing: -0.02em;
    line-height: 1.3;
}

body {
    color: var(--black-300);
    background: #FCFDFF;
    line-height: 1.3em;
}

select, input{height:40px; }

#header{position:fixed; width:100%; top:0; left:0; z-index:9999; background:transparent; }
#header.scroll{background:rgba(255,255,255,.8)}
#header .top{width:100%; padding: 6px 0; border-bottom: 1px solid var(--gray-200);font-size: 0.875;font-weight: 400; font-family: 'Noto Sans KR', sans-serif;}

#header .wrap{max-width:1200px; height: 4.5rem; padding: 12px 10px; margin:auto; display:flex; justify-content: space-between; align-items: center;} 
#header .wrap .logo a{color:var(--logo-orange); font-weight:900; font-size:2.25rem;}
#header .wrap .logo a span{display:inline-block; font-size:2.25rem;}
#header .wrap .logo a span{color:var(--logo-red);}
#header .wrap .menu a{display: inline-block;padding: 8px;font-size: 1rem;font-weight: 500;line-height: 1.4em; font-family: 'Noto Sans KR', sans-serif; color:#fff;}
#header .wrap .menu.white-menu a{color:#fff; }
#header .wrap .menu.black-menu a{color:#000; }


.daterangepicker, #ui-datepicker-div{z-index:90000!important}

#footer{background:#1E2223; padding:1.875rem 0; }
#footer .footer01{width:90%; max-width:1280px; border-bottom:1px solid rgba(255,255,255,0.3);  margin:auto; display:flex; justify-content: end; flex-wrap: wrap;}
#footer .footer01 .cl .ftop{display:flex; align-items: center; margin-bottom:1.875rem; }
#footer .footer01 .cl .ftop .sns a:first-child{display:inline-block; margin-right:10px;}
#footer .footer01 .cl .mcopy{display:none}
#footer .footer01 .cl .mcopy a{display:inline-block; color:rgba(255,255,255,.7);}
#footer .footer01 .cl .mcopy a:first-child{margin-right:10px; }
#footer .footer01 .cl .fcopy p{font-size:1.1em; line-height:1.8em; font-weight:300; margin:0; color:rgba(255,255,255,0.8); }
#footer .footer01 .cl .fcopy p em{font-weight:600; display:inline-block; margin-right:10px; }
#footer .footer01 .cl .fcopy p .b{display:inline-block; margin:0 10px; }
#footer .footer01 .cl .fcopy p .mshow{display:none; }
#footer .footer01 .mtit{display:none }
#footer .footer01 .cr{margin:0; display:flex; flex-direction: column;}
#footer .footer01 .cr li{display:flex; align-items: center; margin-bottom:0.938rem;}
#footer .footer01 .cr li em{width:83px; font-size:1.1em; margin-right:13px; padding:3px 10px; justify-content:center; align-items: center; color:rgba(255,255,255); background:#4e4f4f; display:flex; border-radius:1.25rem; white-space: nowrap;}
#footer .footer01 .cr li p{margin:0; color:rgba(255,255,255,.8); word-break:keep-all; }
#footer .footer02{width:90%; max-width:1280px; padding-top:1.25rem; margin:auto; display:flex; justify-content: space-between;}
#footer .footer02 .cl a{display:inline-block; color:rgba(255,255,255,.7);}
#footer .footer02 .cl a:first-child{margin-right:1.875rem; }
#footer .footer02 .cr{color:rgba(255,255,255,.5);}

@media (max-width: 1150px) {
#footer .footer01{flex-direction: column;}
#footer .footer01 .cr{margin-top:2.5rem; }
#footer .footer01 .cr li{margin-bottom:0.938rem}
}
@media (max-width: 640px) {
#footer{padding:3.75rem 0 5.625rem;}
#footer .footer01{border-bottom:0; }
#footer .footer01 .cl .fcopy p .mshow{display:block; }
#footer .footer01 .cl .fcopy p .mhide{display:none}
#footer .footer01 .cl .mcopy{display:block; margin-bottom:1.25rem; }
#footer .footer01 .cr li{flex-direction: column;align-items: flex-start;}
#footer .footer01 .cr li em{margin-bottom:10px; background: transparent; padding:0; width:auto; }
#footer .footer01 .cr li em::before{content:'■'; display:inline-block; margin-right:6px; }
#footer .footer02{display:none}
#footer .footer01 .mtit{display:block; color:#fff; font-size:1.4em; margin:2.5rem 0 10px; font-weight:600;   }
#footer .footer01 .cr{margin-top:1.25rem; }
}
@media (max-width: 450px) {
#footer{padding:3.125rem 0 2.5rem;}
#footer .footer01{padding-bottom:0px;}
#footer .footer01 .cl .ftop .logo img{width:6rem; }
#footer .footer01 .cl .ftop{margin-bottom:1.563rem}
#footer .footer01 .cl .fcopy p{font-size:0.95em;}
#footer .footer01 .cl .fcopy p .b{margin:0 5px;}
#footer .footer01 .cl .fcopy p em{margin-right:6px; }
#footer .footer01 .cr li em{font-size:0.9em}
#footer .footer01 .cr li p{font-size:0.9em}
#footer .footer02 .cl{font-size:0.9em;}
#footer .footer02 .cr{margin-top:1.25rem; font-size:0.9em;}
}