@charset "utf-8";
@import url("./common.css");

.about{width:100%; margin:auto; display:flex; justify-content: center;align-items: center; height:100vh; background:url(../images/sub/about_food.jpg) bottom center no-repeat; background-size:cover;}
.about .txtBox{font-family: 'Noto Sans KR', sans-serif; text-align:center; position:absolute; top:50%; left:50%; transform: translate(-50%, -50%); background:rgba(255,255,255,.7); border-radius:15px; padding:45px 0; display:flex; justify-content: center; flex-direction: column; align-items: center; }
.about .txtBox h1{font-size:36px; font-weight:900;color:#ef0e0e; }
.about .txtBox h3{font-size:24px; font-weight:900; color:#222; margin-bottom:15px; }
.about .txtBox p{font-size:16px; color:var(--black-300); line-height:24px; width:80%; word-break: keep-all; }

.sub_slider h2{text-align:center; font-weight:800; }